@import './font_color.css';
/* ============HOME================ */
.home {
    margin-top: 7rem;
}
.home_swiper{
    margin: initial;
}

.home_container{
    display: flex;
    padding: 1.5rem; 
    justify-content: space-between;
    align-items: center;
}

.home_data{
    display: inline;
    text-align: center;
}

.home_title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.home_description{
    margin-bottom: 2rem;
}

.home_images{
    width: 75%;
    display: grid;
}

.home_article, .home_img{
    width: 200px;
    transition: scale .8s;
}

.home_article{
    scale: .8;
}

 /*============SWIPER CLASS============*/
.swiper-slide-active, .swiper-slide-duplicate-active{
    scale: 1;
}
